.adsk-viewing-viewer {
    position: relative !important;
}
#forge-viewer {
    height: calc(100%);
}
#overall-controls-body {
    vertical-align: top;
    color: white;
}
#configurator-configuration-button {
    background-image: url('/static/img/configuratorToolIcon.png');
    background-repeat: no-repeat;
    background-position: center;
}
.configurator-tag-item {
    position: absolute;
    color: black;
    background-color: #0f9de5;
    margin: -5px;
    z-index: 2;
    border-radius: 3px;
}
#configurator-tag {
    z-index: 3;
}